html, body {
    width: 480px;
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0px;
}

iframe {
    width: 480px;
    border-width: 1px;
    border-color: grey;
    //border: none;
}

h1 {
    background-color: #444;
    padding: 30px;
    padding-left: 60px;
    margin-top: 0px;
}

.nav-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.action-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}

img {
  max-width: 90%;
}

.invisible-grid {
  border-collapse: collapse;
  border: none;
}

.invisible-grid td {
  padding: 10px; /* Adjust the padding value as needed */
}