body {
    font-family: Verdana, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 75px;
    text-align: left;
}

input {
  display: inline-block;
  float: left;
}

h3 {
    color: yellow;
}

.action-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}